<div class="row">
  <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-4">
    <div class="image"><img style="max-width: 100%;" src="assets\img\avatar\admin.png"></div>    
  </div>
  <div class="col">
    <h4>Dr. RSRK Naidu</h4>
    <p>Dr Reddy Siva Rama Krishnam Naidu, M.B.B.S., M.D.H.M.,</p>
    <p>Srikakulam, Andhra Pradhesh, India</p>
    <a href="https://www.facebook.com/rsrknaidu"><img src="./assets/img/icons/Facebook.png" alt="Facebook" width="30px"/></a>
    &nbsp;&nbsp;
    <a href="https://www.instagram.com/rsrknaidu"><img src="./assets/img/icons/Instagram.png" alt="Instagram" width="30px"/></a>
    &nbsp;&nbsp;
    <a href="https://www.twitter.com/rsrknaidu"><img src="./assets/img/icons/Twitter.png" alt="Twitter" width="30px"/></a>
    &nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/rsrknaidu"><img src="./assets/img/icons/Linkedin.png" alt="LinkedIn" width="30px"/></a>
    &nbsp;&nbsp;
    <a href="https://rsrknaidu.github.io"><img src="./assets/img/icons/Website.png" alt="Website" width="30px"/></a>
    <a href="mailto:rsrknaidu@gmail.com"><img src="./assets/img/icons/Gmail.png" alt="Gmail" width="50px"/></a>
  </div>
</div>
<br>
<br>