  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter" id="download">
      <div class="container">
        <h2 class="text-center font-alt my-4">Get the app now!</h2>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
          {% if site.googlelink != '' %}<a class="me-lg-3 mb-4 mb-lg-0" href="{{ site.googlelink }}"><img class="app-badge" src="assets/img/google-play-badge.svg"/></a>{% endif %}
          {% if site.applelink != '' %}<a href="{{ site.applelink }}"><img class="app-badge" src="assets/img/app-store-badge.svg"/></a>{% endif %}
        </div>     
        <br> 
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 class="app-title">MEDICOS <span>AtoZ</span></h3>
            <p>
              <strong>Address<br></strong> {{ site.data.contact.address-text }}<br><br>
              <strong>Phone:</strong> {{ site.data.contact.contact-phone-text }}<br>
              <strong>Email:</strong> {{ site.data.contact.contact-email-text }}<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{ site.data.footer.pages.title }}</h4>
            <ul>
              {% for item in site.data.footer.pages.items %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{ site.data.footer.services.title }}</h4>
            <ul>
              {% for item in site.data.footer.services.items %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{ site.data.footer.social.title }}</h4>
            <p>{{ site.data.footer.social.caption }}</p>
            <div class="social-links mt-3">
              {% for link in site.data.footer.social.links %}
              <a href="{{ link.url }}" class="{{ link.title }}"><i class="{{ link.icon }}"></i></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container pt-4 pb-2">
      <div class="copyright">&copy; Copyright <strong><span>{{ site.title }}</span></strong>. All Rights Reserved</div>
      <div class="credits">Modified by <a href="https://srisivapriya.com/">Sri Siva Priya</a>. Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></div>
    </div>
  </footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>